<h1>掲示板一覧</h1>
<p><%= notice %></p>

<table>
  <tr>
    <th>名前</th>
    <th>タイトル</th>
    <th>本文</th>
  </tr>

<% @boards.each do |board| %>
  <tr>
    <td><%= board.author_name %><td>
    <td><%= board.title %><td>
    <td><%= board.body %><td>
    <td><%= link_to '詳細を確認する', board_path(board.id) %><td>
    <td><%= link_to '編集する', edit_board_path(board.id) %><td>
    <td><%= button_to '削除する', board_path(board.id), method: :delete %></td>


  </tr>
<% end %>
</table>

<%= link_to '掲示板新規作成画面', new_board_path %>