<%= form_with(model: Board.new, local: true) do |form| %>
  <div class="board_title">
  <%= form.label :title %>
  <%= form.text_field :title %>
  </div>
  <div class="board_content">
  <%= form.label :content %>
  <%= form.text_field :content %>
  </div>
  <%= form.submit %>
  <% end %>